 
<form id="frm" name="frm">
	<center>

		Nombre: <input type="text" name="nombre" ng-model="usuario.nombre" ><br><br>
		Mail:<input type="mail" name="mail" ng-model="usuario.mail" style="background-color:#9A9696"  disabled><br><br>
		Password:<input type="password" name="password" ng-model="usuario.pass" ><br><br>
		Tipo:<select ng-model="usuario.tipo"  style="background-color:#9A9696" disabled>
		 <option value="administrador">administrador</option>
		  <option value="comprador">comprador</option>
		   <option value="vendedor">vendedor</option>
		</select><br><br> 
		<input type="button" ng-click="Modif()" style="color:black" name="ModifC" value="Modificar" >
		<input type="button" ng-click="Volver()" style="color:black" name="Volver" value="Volver" ><br><br>
 
	</center>
</form>
